<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo chat</title>
    <script src="jquery.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="xuly.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
    <input type="text" id="txtRoom"/>
    <input type="button" id="btnTaoRoom" value="Tạo room"/>

    <div id="left">
        <h3>DANH SÁCH CÁC ROOM</h3>
        <div id="dsRoom">

        </div>
    </div>
    
    <div id="right">
        <div id="roomHienTai">
            <h4>ROOM HIỆN TẠI</h4>
            <div id="tenRoom"></div>
        </div>
        <div id="txtContentChat">
            <h4>NỘI DUNG CHAT</h4>
        </div>
    </div>
    <input type="text" id="txtMessage" />
    <input type="button" id="btnChat" value="Chat" />
</body>
</html>