body {
    background-color: yellow;
}

#left{width: 30%; float: left; border: solid 1px pink}
#left h3 {color:blue;}
#right {width: 68%; float: right;border: solid 1px green;}
/* #dsRoom {width: 100px; height: 100px; border: solid 1px blue;} */
#roomHienTai {width: 30%; border: solid 1px green; float:right;}
#roomHienTai h4 {color: blue;}
#txtContentChat h4 {color:blue;}