body {
    background-color: rgb(223, 233, 233);
}

#wrapper {
    width: 600px;
    margin:auto;
}

#txtUsername {
    background-color: transparent; border: solid 1px black;
}

#left,#right { min-height: 300px;}

#left {
    width: 30%; float: left; background-color: rgb(228, 235, 140);
}

#right {
    width: 70%; float: right; background-color: rgb(104, 104, 223);
}
#boxTitle{border: solid 1px black; padding: 5px; text-align: center;font-weight: bold;}
#boxContent{border: solid 1px black; border-top: none; padding: 5px;}
#sayHi{text-align: right;}
#listMessages{height: 200px; background-color: aquamarine; margin-bottom: 15px;}
#textMessage{background-color: transparent; border: solid 1px black;}